<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tableau de bord</title>
</head>

<body>
    DASHBOARD
    <form action="/admin/logout" method="post">
        <button type="submit">LOGOUT</button>
    </form>
    <table>
        <th>nom d´utilisteur</th>
        <th>IMEI</th>
        <th>Information</th>
        <th>Autorisé</th>
        <% data.forEach(device => { %>
        <tr>
            <td> <%= device.utilisateur %> </td>
            <td> <%= device.deviceid %> </td>
            <td> <%= device.information %> </td>
            <td> <%= device.authorized %> </td>
        </tr>
        <% }) %>
    </table>
</body>

</html>