<nav class="mb-1 navbar navbar-dark custom-primary-bg">
    <a class="navbar-brand" href="#">
        <img class="rounded" src="/img/logo.png" height="35" alt="">
    </a>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" id="logout">
            <i class="fa fa-sign-out-alt"></i> <span class="d-none d-sm-inline">se deconnecter</span>
          </a>
        </li>
      </ul>
  </nav>